<section>
    <table>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Age</th>
            <th>Meteo</th>
            <th>Ville</th>
        </tr>
        <tr ng-class="student.age < {{$ctrl.middleAge}} ? 'teenager' : 'older'" ng-repeat="student in $ctrl.students">
            <td>{{$index}}</td>
            <td>{{student.nom}}</td>
            <td>{{student.prenom}}</td>
            <td>{{student.age}}</td>
            <td>{{student.meteo}}</td>
            <td>{{student.city}}</td>
        </tr>
    </table>
</section>
